html,
body {
    margin: 0%;
    padding: 0%;
    font-family: "Liter", serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 88vw;
    padding: 4rem;
}

#container>div>h1 {
    text-indent: 3rem;
    font-size: 3rem;
}

#container>div {
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: 100%;
}

#container>#empty {
    width: 60%;
    margin-left: 3rem;
}

#container>#empty>h3 {
    text-indent: 0.5rem;
    font-size: 2rem;
}

#shopBtn {
    padding: 0.8rem 3rem;
    background-color: black;
    color: white;
    font-size: 16px;
}

#shopBtn:hover {
    background-color: rgb(36, 68, 150);
}

#container .visible {
    visibility: visible;
}

#container .hidden {
    visibility: hidden;
}

#container>div>#cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#container>div>#cart>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    font-size: 1.5rem;
}

#container>div>#cart>#thead {
    height: 10vh;
    border-bottom: 1px solid black;
}

#container>div>#cart>div>div {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#container>div>#cart>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container>div>#cart>#tbody>div>.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

#container>div>#cart>#tbody>div>.item>img {
    width: 12rem;
    height: 4rem;
}

#container>div>#cart>#tbody>div>div>select {
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

#container>div>#cart>#tbody>div>div>a {
    color: black;
}

#container>div>#cart>#tbody>div>div>#delete {
    cursor: pointer;
}

#container>div>#checkout {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 68, 150);
    color: white;
    border-radius: 2rem;
    padding: 2rem;
}

#container>div>#checkout>h2 {
    font-size: 2rem;
}

#container>div>#checkout>div {
    display: flex;
    justify-content: space-between;
}

#container>div>#checkout>div>p {
    font-size: 1.4rem;
}

#checkoutBtn {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 1rem auto;
    padding: 0.8rem 1rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


#checkoutBtn:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}


#women {
    display: none;
    position: absolute;
    background: white;
    padding: 20px;
    z-index: 100;
    width: 100%;
    gap: 180px;
    padding-left: 50px;
    height: 450px;
    font-size: 13px;
}

#men {
    display: none;
    position: absolute;
    background: white;
    padding: 20px;
    z-index: 100;
    width: 100%;
    gap: 180px;
    padding-left: 50px;
    height: 450px;
    font-size: 13px;
}

#kids {
    display: none;
    position: absolute;
    background: white;
    padding: 20px;
    z-index: 100;
    width: 100%;
    gap: 140px;
    padding-left: 50px;
    height: 200px;
    font-size: 15px;
}

#classics {
    display: none;
    grid-template-columns: repeat(3, 0fr);
    gap: 20px;
    padding-left: 50px;
    padding-top: 3rem;
}

.img {
    overflow: hidden;
    width: 280px;
}

.img img {
    width: 250px;
    height: 150px;
    margin-bottom: 10px;

}

.img a {
    color: black;
}

#sports {
    display: none;
    position: absolute;
    background: white;
    padding: 20px;
    z-index: 100;
    width: 100%;
    gap: 160px;
    padding-left: 50px;
    height: 300px;
    font-size: 15px;
}

#navcart {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    z-index: 100;
    width: 24rem;
    height: 7rem;
    padding: 2rem;
}

#navcartBtn {
    padding: 0.8rem 8rem;
    background-color: black;
    color: white;
    border: none;
}

#navcartBtn:hover {
    background-color: rgba(3, 59, 122, 1);
}

#navcart>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#bagdiv>p {
    margin-right: 20px;
    font-size: large;
}

#women p {
    cursor: pointer;
}

#women-menu:hover,
#men-menu:hover,
#kids-menu:hover,
#classics-menu:hover,
#sport-menu:hover,
#stride-menu:hover,
#stories-menu:hover {
    text-decoration: underline;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo {
    padding-bottom: 20px;
    margin-left: 120px;
    align-items: center;
    width: 80px;
}

.logo>img {
    margin-top: 25px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.categoryHeader {
    padding: 25px;
    margin-right: 200px;
    position: relative;
}

.categories {
    margin: 15px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: black;

}

.icons {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    margin-right: 150px;
    cursor: pointer;
}

.en {
    display: flex;
    gap: 5px;
}

/* footer */
footer {
    font-family: "Liter", serif;
}

.paymentImg {
    width: 20px;
    height: 13px;
}

.paymentsImg {
    margin-top: 10px;
    width: 30px;
    height: 20px;
}

#upperDiv {
    color: white;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

#upperDiv>h1 {
    margin-left: 120px;
    font-weight: bold;
}

#joinBtn {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 130px;
    margin-right: 120px;
    cursor: pointer;
}

#joinBtn:hover {
    background-color: rgba(3, 59, 122, 1);
}

#middleDiv {
    display: flex;
    gap: 120px;
    margin-left: 130px;
    font-size: 13px;
    padding: 40px 0;
}

#middleDiv p {
    cursor: pointer;
}

#downDiv {
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 59, 122, 1) 0%);
    padding: 15px 15px;
}

#downDiv>p {
    font-size: 13px;
    margin-left: 120px;
}

#change {
    color: black;
    text-decoration: underline;
}

.remove-btn {
    cursor: pointer;
}